# Example Of Notebook Conversion

Metatab has it's own Notebook conversion process, will will create a Metatab package with the notebook, it's Makrdown and HTML conversion, and the dataset it creates. FOr these conversions, input code cells are by default hidden and must be explicitly re-enabled by starting code cells with `%showinput`

In [1]:
%load_ext metatab
import pandas as pd

The Notebook can include inline Metatab, in a line-oriented format. These cells are code cells and start with a `%%metatab` magic.

In [2]:
%%metatab 
Declare: metatab-latest
Title: Registered Voters, By County
Description: An Example Whatever. 
Identifier: 7108517a-7163-41a5-943d-961f9a086a3f
Origin: example.com
Dataset: foobar.com        

Section: Contacts
Wrangler: Eric Busboom
Wrangler.Email: eric@civicknowledge.com
 
Section: References
Reference: http://public.source.civicknowledge.com/example.com/sources/renter_cost.csv
Reference.Name: reference
Reference.Title: The First Example Data File
Reference.Startline: 5
Reference.HeaderLines: 3,4

Section: Resources
Datafile: http://public.source.civicknowledge.com/example.com/sources/renter_cost.csv
Datafile.Name: resource
Datafile.Title: The First Example Data File
Datafile.Startline: 5
Datafile.HeaderLines: 3,4

In [3]:
metatab_doc.resource('resource')

Below is a code input cell that will be shown, because it starts with a `%showinput` magic.

In [4]:
%showinput
df = metatab_doc.resource('resource').dataframe()
df.head()

,col1,col2,renter_cost_gt_30,renter_cost_gt_30_cv,owner_cost_gt_30_pct,owner_cost_gt_30_pct_cv
0,0,1,1447,13.617607,42.248175,8.272141
1,1,2,5581,6.235932,49.280353,4.933369
2,2,3,525,17.648159,45.219638,13.288720
3,3,4,352,28.061965,47.439353,17.383329
4,4,5,1189,11.824215,43.157895,8.916487

In [5]:
df = metatab_doc.reference('reference').read_dataframe()
df.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,renter,Unnamed: 3_level_0,owner,Unnamed: 5_level_0
,id,gvid,cost_gt_30,cost_gt_30_cv,cost_gt_30_pct,cost_gt_30_pct_cv
0,1,0O0P01,1447,13.617607,42.248175,8.272141
1,2,0O0P03,5581,6.235932,49.280353,4.933369
2,3,0O0P05,525,17.648159,45.219638,13.288720
3,4,0O0P07,352,28.061965,47.439353,17.383329
4,5,0O0P09,1189,11.824215,43.157895,8.916487

The HTML output will include any images, but unline the default HTML converted, the images are linked as seperate files.

In [6]:
%matplotlib inline
df.owner_cost_gt_30_pct.hist(bins=50);

AttributeError: 'DataFrame' object has no attribute 'owner_cost_gt_30_pct'

In [ ]:
metatab_doc.write_csv()